@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: linear-gradient(to bottom, #c9e5f3, #f8f8f8);
  padding: 5px;
  color: #526d82;
  height: 100%;
  margin: 0;
  overflow: hidden; /* Prevent the entire page from scrolling */
}

.dashboard {
  display: flex;
  gap: 10px;
  height: 100%;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  height: 100vh;
}

.fade-out {
  opacity: 0;
}

.dashboard-content {
  background: #fff;
  flex: 1;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  opacity: 1;
  transition: opacity 3s ease-in-out;
  height: 97vh;
  width: 85%;
  /* border: 2px solid; */
}

.content {
  display: flex;
  width: 100%;
  gap: 2rem;
}
/* Table styling */
.table-container {
  width: 100%;
  height: 74vh;
  overflow-y: auto;
  overflow-x: auto;
}

.table {
  min-width: 600px;
  width: 100%;
  border-collapse: collapse;
}

.table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
  color: #526d82;
}

.table th {
  background: #e6e6e6;
  color: #526d82;
  padding: 16px;
  opacity: 0.8;
}

.actions {
  justify-content: center;
  width: 200px;
  max-width: 200px;
}
.theme-code,
.topic-code {
  justify-content: center;
  width: 150px;
  max-width: 150px;
}
.action {
  justify-content: center;
  width: 230px;
  min-width: 230px;
}
.custom-link {
  text-decoration: none;
  color: inherit;
}

.btn {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Warning Button Style */
.btn.warning {
  background-color: #f5a623;
  margin-right: 5px;
  margin-left: 20px;
  color: white;
}

.btn.warning:hover {
  background-color: #e6951e;
}

.btn.info {
  text-align: center;
  background-color: #8796a1;
  color: white;
}
.btn.info:hover {
  background-color: #455a6a;
}
.custom-modal .btn-success {
  width: 100%;
  text-align: center;
}
.custom-modal .btn-secondary {
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
}
.custom-modal .btn-danger {
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
}
.custom-modal .btn-warning {
  width: 100%;
  text-align: center;
  color: #ffffff;
}
.btn:focus {
  outline: 2px solid #dcdcdc;
}

.btn:active {
  transform: scale(0.98);
}

.team-container {
  padding: 10px;
  width: 100%;
  height: 85vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.team-header {
  padding-top: 10px;
  font-size: large;
  width: 100%;
}

.content-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px 10px;
  height: 3rem;
  position: relative;
}
.content-header h3 {
  color: #526d82;
  font-size: large;
}
.breadcrumb {
  float: right;
  margin-right: 5px;
  text-align: right;
  font-size: 1rem;
}

.breadcrumb ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
.breadcrumb ol li {
  display: inline;
}
.breadcrumb a {
  text-decoration: none;
  color: #526d82;
}
.breadcrumb a:hover {
  color: #777;
}
.breadcrumb .breadcrumb-icon {
  margin: 3px 5px -5px 5px;
  vertical-align: top;
}
.breadcrumb ol li:not(:last-child):after {
  content: "/";
  margin: 3px 2px -3px 2px;
}
.breadcrumb ol li:last-child {
  top: 100%;
  left: 0;
  color: #777;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 1.2rem;
  padding: 1rem;
}
.card {
  background-color: #fff;
  border: 1px solid #e8e4e4;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  transition: 0.5s ease-in-out;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}
.card-cover {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  color: #526d82;
  align-items: center;
}
.card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding-top: 10px;
  color: #526d82;
  gap: 1rem;
}
/* In your CSS file */
.card a {
  text-decoration: none;
  color: #526d82;
}

.card a:hover {
  color: #526d82;
  text-decoration: underline;
}
.user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.list-container {
  width: 100%;
}

.list-header,
.list-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-header {
  font-weight: bold;
  background-color: #f4f4f4;
  width: 100%;
}

.list-item {
  flex: 1;
  text-align: left;
  padding: 10px;
  font-size: 18px;
  color: #526d82;
}
.list-item.id {
  flex: 0 0 70px; /* Fixed width for ID column */
  text-align: center;
}
.list-item.avatar {
  flex: 0 0 150px; /* Fixed width for Avatar column */
  display: flex;
  justify-content: center;
}

.position {
  color: #526d82;
}
.list:hover {
  background: #dde6ed;
  border-radius: 4px;
  cursor: pointer;
}
.profile {
  display: flex;
  flex-direction: column;
  width: 100%; /* Adjust width for smaller screens */
  padding: 10px;
  align-self: center;
  border-radius: 6px;
}

.profile-header {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center-align the content */
  margin-bottom: 10px;
}

.header-title {
  color: #526d82;
  text-align: center; /* Center the title text */
}

.edit {
  background: #f0f0f0;
  padding: 8px; /* Reduce padding for smaller screens */
  border-radius: 10px;
  color: #526d82;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.edit .icon {
  font-size: 18px; /* Slightly smaller icon */
  transition: 0.5s ease-in-out;
}

.icon:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.user-profile {
  height: auto; /* Let height adjust dynamically */
  margin: 0;
  background: #f0f0f0;
  border-radius: 10px;
  padding: 8px; /* Reduce padding */
  display: flex;
  flex-direction: column;
}

.user-detail {
  width: 100%;
  height: auto; /* Adjust height dynamically */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.user-detail img {
  background: #fff;
  border-radius: 50%;
  width: 80px; /* Reduce image size */
  margin-bottom: 8px;
}

.user-detail .username {
  color: #526d82;
  font-size: 14px; /* Adjust font size for smaller screens */
}

.user-skills {
  background: #fff;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px; /* Reduce gap */
  border-radius: 10px;
  padding: 8px;
}

.user-skills h3 {
  color: #526d82;
  font-size: 16px; /* Slightly smaller heading */
}

.skill {
  background: #f0f0f0;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
  gap: 15px; /* Reduce gap between items */
  color: #526d82;
}

.skill-icon {
  background: #fff;
  width: 35px; /* Reduce size */
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 18px; /* Slightly smaller font size */
}

.skill .duration {
  font-size: 20px;
}
.profession {
  color: #969393;
  padding-bottom: 10px;
  font-weight: bold;
}

/* Modal styles */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  margin: auto;
  background: rgba(0, 0, 0, 0.75); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #ffffff;
  color: #526d82;
  padding: 20px;
  border-radius: 8px;
  max-width: 60%;
  width: 60%;
  max-height: 90vh;
  overflow-y: auto;
}
.top-centered-modal {
  top: 10%; /* Adjust this value to position the modal closer to the top */
  margin: 0 auto; /* Center horizontally */
}
.head {
  width: 100%;
  height: 3rem;
  background-color: inherit;
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  padding: 10px 20px;
  font-size: medium;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 16px;
}
.head .icon {
  font-size: medium;
  margin-right: 4px;
}
.head a {
  text-decoration: none;
  color: #526d82;
}

.head a:hover {
  text-decoration: underline;
  color: #526d82;
}
/* Base styles for sidebar */

.menu {
  display: flex;
  flex-direction: column;
  width: 220px;
  transition: width 0.3s ease-in-out;
}
.menu.collapsed {
  width: 64px; /* Reduced width when collapsed */
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.logo-icon {
  width: 140px;
  height: 50px;
}
.btn-close {
  box-shadow: none !important;
}

.toggle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  color: #526d82;
  margin-top: 8px;
}
.toggle-icon {
  width: 25px;
  height: 20px;
}
.menu-list {
  margin: 0 auto;
  align-items: flex-start;
  padding: 5px;
}
.label {
  margin-top: auto;
}

.item {
  display: flex;
  text-decoration: none;
  justify-content: flex-start;
  align-items: center;
  color: #526d82;
}

.menu-list .item {
  padding: 10px 24px;
  transition: all 0.3s ease;
  margin: 5px auto;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 400;
}
.icon {
  margin-right: 10px;
  font-size: 1.2rem;
}
.menu-list .item:hover {
  background: #f7f7f7;
  color: rgba(82, 109, 130, 0.8);
}

.item:hover {
  background-color: #34495e;
}

.menu-list .item.active {
  background-color: #fff;
  font-weight: 600;
}

.menu-list .item.active .icon {
  color: #526d82;
}

.menu-list .item .menu-label {
  display: inline;
}
.menu-list .item.toggled {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin: 5px auto;
  padding: 10px 10px 16px 18px;
  transition: all 0.5s ease;
}

.menu-list .item.toggled .icon {
  font-size: 1.3rem;
}

.menu-list .item.toggled .label {
  display: none;
}

.footer-container {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #526d82;
  font-size: 1rem;
}
.footer {
  padding: 10px;
  text-align: center;
}
.footer-cover {
  font-size: small;
  text-align: left;
  color: #526d82;
}
.pdf-modal {
  /* max-width: 100%; */
  margin: auto;
}

.pdf-modal .modal-dialog {
  max-width: 100%;
  display: flex;
  justify-content: center;
  overflow-y: auto;
  max-height: 90%;
}
.custom-modal .modal-dialog {
  max-width: 80%;
  width: 80%;
  color: #526d82;
}

.custom-modal .modal-content {
  margin: auto;
  padding: 1.5rem;
}
.react-quill {
  height: 150px;
  margin-bottom: 30px;
}

.react-quill .ql-container {
  height: 100%;
  border-radius: 4px;
}

.react-quill .ql-toolbar {
  border-radius: 4px 4px 0 0;
}

/* Media queries */

@media (max-width: 820px) {
  .list-header {
    grid-template-columns: repeat(3, 1fr);
  }

  .list-row {
    grid-template-columns: repeat(3, 1fr);
  }
  .card-container {
    grid-template-columns: 1fr;
  }

  .list-item.avatar {
    text-align: center;
  }
  .dashboard-container {
    padding: 5px 10px;
  }

  .dashboard-content {
    padding: 10px;
  }

  .content {
    flex-direction: column;
    gap: 0.5rem;
  }

  .footer-container {
    display: none;
  }
  .custom-modal .modal-dialog {
    max-width: 95%;
    width: 95%;
  }
  .user-image {
    width: 30px;
    height: 30px;
  }
  .menu {
    width: 64px;
    overflow-y: auto;
    gap: 8px;
    transition: width 0.3s ease;
  }

  .menu-list .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 50px;
    height: 50px; /* Same as width for circular shape */
    border-radius: 50%; /* Circular menu items */
    font-size: medium;
    gap: 4px; /* Adjust spacing between icon and label */
  }

  .menu-list .item .label,
  .brand-name,
  .logo {
    display: none; /* Hide text label on smaller screens */
  }

  .table-container,
  .team-container {
    width: 100%;
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: auto;
  }
}

@media (max-width: 600px) {
  /* Stack items vertically for small screens */
  .list-header {
    grid-template-columns: 0.5fr;
    text-align: center;
  }

  .list-row {
    grid-template-columns: 0.5fr;
    margin-bottom: 1rem;
  }

  .list-item {
    display: block;
    text-align: center;
    padding: 0.5rem;
    border: none;
  }

  .list-item.avatar {
    margin-bottom: 1rem;
  }

  .user-image {
    width: 40px;
    height: 40px;
    margin: 0 auto;
  }

  .list-item.id,
  .list-item.avatar,
  .list-item {
    font-size: 12px;
  }
  .profile {
    width: 95%; /* Adjust width to fit smaller screens */
    padding: 5px; /* Reduce padding */
  }

  .profile-header {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center-align items */
  }

  .header-title {
    font-size: 18px; /* Reduce title font size */
  }

  .edit {
    padding: 6px; /* Smaller padding */
  }

  .user-detail img {
    width: 70px; /* Further reduce image size */
  }

  .user-skills {
    padding: 6px; /* Smaller padding */
    gap: 6px; /* Reduce spacing */
  }

  .skill {
    padding: 6px; /* Smaller padding */
    gap: 10px; /* Reduce gap */
  }

  .skill-icon {
    width: 30px; /* Smaller icon */
    height: 30px;
    font-size: 16px; /* Adjust font size */
  }
  .user-image {
    width: 25px;
    height: 25px;
  }
  .footer-container {
    display: none;
  }
}

@media (max-height: 600px) {
  .dashboard-content {
    padding: 10px;
    height: 85vh;
    width: 85%;
  }
  .logo-container {
    padding: 0;
  }
  .logo-icon {
    width: 100px;
    height: 40px;
  }
  .menu {
    width: 150px;
  }
  .menu-list {
    overflow-y: auto;
    margin: 0 auto;
    height: auto !important;
  }
  .menu.collapsed.short-height {
    width: 64px;
  }

  .menu.collapsed.short-height .menu-list .item {
    /* Circular icons for collapsed sidebar */
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
  }

  .menu.collapsed.short-height .menu-list .item .icon {
    font-size: 0.8rem;
  }

  .menu.collapsed.short-height .menu-list .item .label {
    display: none; /* Hide labels */
  }

  .menu-list .item.active {
    background-color: #fff;
    color: #526d82;
    font-weight: 500;
  }

  .menu-list .item.active .icon {
    color: #526d82;
  }
  .card-container {
    grid-template-columns: 1fr;
  }
  .content-header {
    display: flex;
    align-items: center;
    height: 2rem;
  }
  .content-header h4,
  h3,
  h2 {
    font-size: medium;
  }
  .breadcrumb {
    font-size: small;
    margin-bottom: 0;
  }

  .menu-list .item,
  .icon,
  .footer-cover {
    padding: 2px 10px;
    font-size: small;
    justify-content: left;
    align-items: center;
    margin: 0;
    gap: 0;
    border-radius: 4px;
  }
  .table-container {
    width: 100%;
    height: 45vh;
    overflow-y: auto;
    overflow-y: auto;
  }
  .team-container {
    width: 100%;
    height: 67vh;
    overflow-y: auto;
    overflow-y: auto;
  }
  .footer-cover {
    display: flex;
    font-size: 0.5rem;
  }
  .footer-container {
    display: flex;
    height: auto;
    margin: auto;
  }
  .profile {
    width: 100%;
    height: 80vh;
    overflow-y: auto;
    font-size: small;
  }
}
